@model IEnumerable<QLNTWS.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách đơn hàng</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTenKhach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDatHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTenKhach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.ActionLink("Chi Tiết Đơn Hàng", "ChiTietDonHang", "HoaDonChiTiets", new { id=item.ID }, null) |
        </td>
    </tr>
}

</table>
