@model QLNTWS.Models.Loai

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Loai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BiDanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiDanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChungLoai.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChungLoai.Ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoaiID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
