@model IEnumerable<QLNTWS.Models.HoaDonChiTiet>
<h4>Chi tiết Hóa Đơn</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.MaSo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>

        <td></td>
    </tr>
}

</table>
